@model List<AspNetCoreKampi.ViewModels.AssignRoleViewModel>
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-controller="AdminRole" asp-action="AssignRole" method="post">
    @for (int i = 0; i < Model.Count; i++)
    {
    <div class="form-check">
        <input type="hidden" asp-for="@Model[i].RoleId" />
        <input type="hidden" asp-for="@Model[i].RoleName" />
        <input type="checkbox" asp-for="@Model[i].Exists"  class="form-check-input"/>
        <label class="form-check-label" for="@Model[i].Exists">@Model[i].RoleName</label>
    </div>
    }
    <button type="submit" class="btn btn-dark"> Role Ataması Yap</button>
</form>

