@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
@if (TempData["Alert"] != null)
{
    <div class="alert alert-success">@TempData["Alert"]</div>
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                Category List
            </h4>
            <div class="text-right">
                <a class="btn btn-outline-success " href="@Url.Action("Add","Category")">New Category</a>
            </div>
            <p class="card-description">
            </p>
            <table class="table table-bordered table-hover table-responsive-xl">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Edit</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <td>@item.Name</td>


                            @if (@item.Status)
                            {
                                <td><a class="btn btn-outline-success" href="@Url.Action("Status", "Category", new { id = @item.Id })">Aktif</a></td>
                            }
                            else
                            {
                                <td><a class="btn btn-outline-danger" href="@Url.Action("Status", "Category", new { id = @item.Id })">Pasif</a></td>
                            }
                            <td><a class="btn btn-outline-warning" href="@Url.Action("Update", "Category", new { id = @item.Id })">Edit</a></td>
                        </tr>
                    }


                </tbody>
            </table>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>

 
