@model EntityLayer.Concrete.Author
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Yazar Kayıt Sayfası</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-controller="Register" asp-action="Index" method="post">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">İsim</label>
                            <input type="text" class="form-control" name="Name" id="validationDefault01" placeholder="" required="">
                            @Html.ValidationMessageFor(x=>x.Name,"",new{style="color: red"})
                            
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Mail</label>
                            <input type="email" class="form-control" name="Mail" id="validationDefault02" placeholder="" required="">
                            @Html.ValidationMessageFor(x => x.Mail, "", new { style = "color: red" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Şifre</label>
                            <input type="password" class="form-control" name="Password" id="password1" placeholder="" required="">
                            @Html.ValidationMessageFor(x => x.Password, "", new { style = "color: red" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">Görsel</label>
                            <input type="url" class="form-control" name="Image" id="Image" placeholder="" required="">
                            @Html.ValidationMessageFor(x => x.Image, "", new { style = "color: red" })
                        </div>
								
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleInputPassword1 mb-2">Hakkımda</label>
                            <textarea class="form-control" name="About" rows="6" cols="50" placeholder="" required=""> </textarea>
                            @Html.ValidationMessageFor(x => x.About, "", new { style = "color: red" })
                        </div>
                    </div>
                    <button id="basarili" type="submit" class="btn btn-primary submit mb-4">Kayıt Ol</button>
                    <p>
                        <a id="uyari">Kaydol'a tıklayarak, şartlarınızı kabul ediyorum</a>
                    </p>
                </form>
		
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var value = "@ViewBag.Basarili";
   
    $("#basarili").click(function () {
        if (value == "True") {
            swal("Good job!", "You clicked the button!", "success").then(() => {
                location.assign("/Blog/index");
        }
    });

   
</script>
