@model List<MessageTwo>
@{
    ViewData["Title"] = "InBox";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">Compose Mail</a>
                        <div class="space-25"></div>
                        <h5>Klasorler</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a href="mailbox.html"> <i class="fa fa-inbox "></i> Gelen Kutusu <span class="label label-warning float-right">16</span> </a></li>
                            <li><a href="mailbox.html"> <i class="fa fa-envelope-o"></i> Gönderilen Kutusu</a></li>
                            <li><a href="mailbox.html"> <i class="fa fa-certificate"></i> Önemli</a></li>
                            <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i> Taslaklar <span class="label label-danger float-right">2</span></a></li>
                            <li><a href="mailbox.html"> <i class="fa fa-trash-o"></i> Çöp Kutusu</a></li>
                        </ul>
                        <h5>Kategoriler</h5>
                        <ul class="category-list" style="padding: 0">
                            <li><a href="#"> <i class="fa fa-circle text-navy"></i> İş </a></li>
                            <li><a href="#"> <i class="fa fa-circle text-danger"></i> Dokumasyon</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-primary"></i> Sosyal Medya</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-info"></i> Reklam</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-warning"></i> Ağlar</a></li>
                        </ul>

                        <h5 class="tag-title">Etiketler</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Aile</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> İş</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Ev</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Çocuklar</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Tatil</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Fotoğraflar</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="float-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" name="search" placeholder="Email ara..">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Ara
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    Gelen Kutusu (0)
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Yenile</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                    <button id="deleteSelected" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                </div>
            </div>
            <div class="mail-box">
                <form method="post">
                    <table class="table table-hover table-mail">
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="unread">
                                <td class="check-mail">
                                    <input type="checkbox" name="ids" value="@item.Id" class="i-checks">
                                </td>
                                <td class="mail-ontact"><a href="mail_detail.html">@item.SenderUser.Name</a></td>
                                <td class="mail-subject"><a href="mail_detail.html">@item.Subject</a></td>
                                <td class=""><i class="fa fa-paperclip"></i></td>
                                <td class="text-right mail-date">@item.MessageDateTime.ToString("d")</td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
    $(document).ready(function () {
        $('#deleteSelected').click(function () {
            var ids = $('input[name="ids"]:checked').map(function () {
                return $(this).val();
            }).get();

            if (ids.length == 0) {
                alert("Please select at least one message to delete.");
                return;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "Messages")',
                data: { ids: ids },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("An error occurred while deleting the selected messages.");
                }
            });
        });
    });
    </script>
}


