@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Blog Posts</h3>
        <div class="inner-sec">
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 card">
                            <a href="single.html">
                                <img src="@item.Image" class="card-img-top img-fluid" style="max-height: 80%" alt="">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @item.CreateDate.ToString("d")
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-comment"></i> 21
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-eye"></i> @item.Category.Name
                                        </a>
                                    </li>
                                </ul>
                                <h5 class="card-title">
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                                </h5>
                                <p class="card-text mb-3">@(item.Content.Length > 150 ? item.Content.Substring(0, item.Content.Substring(0,155).LastIndexOf(" ", StringComparison.Ordinal))+"..." : item.Content +"...") </p>
                                <a class="btn btn-outline-primary read-m" asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">Daha fazla oku</a>
                            </div>
                        </div>
                    }

                    @*// Sayfalama*@
                </div>

            </div>
        </div>
    </div>
</section>

